.btn {
  background-color: cadetblue;
  color: gray;
}
.btn1 {
  background-color: rgb(251, 253, 253);
  color: gray;
}
.b1 {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.bghr {
  background: rgba(255, 255, 255, 0.3);
}

.vl {
  border-right: 3px solid rgb(240, 233, 233);
  /* height: 10px; */
  border-style: dashed;
  width: 2px;
}
.vl2 {
    border-right: 3px solid rgb(25, 119, 62);
    /* height: 10px; */
    border-style: dashed;
    width: 2px;
    
  }